.stretched-tabs {
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    max-width: 1200px;
  }

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  margin: 20px auto;
}

.mat-sort-header-container {
  align-items: center;
}
