<mat-toolbar color="primary">

  <h1>Happy Coding</h1>

  <span class="links">

    <a routerLink="/home">
      <mat-icon class="icon">home</mat-icon>Home
    </a>

    <a routerLink="/list-of-games">
      <mat-icon class="icon">games</mat-icon>Games
    </a>

    <a routerLink="/quick-start">
      <mat-icon class="icon">start</mat-icon>Quick Start
    </a>

    <a routerLink="/user-info" *ngIf="isLogin">
      <mat-icon class="icon">person</mat-icon>Personal
    </a>

    <a routerLink="/login" *ngIf="!isLogin">
      <mat-icon class="icon"></mat-icon>Login
    </a>

    <a routerLink="/register" *ngIf="!isLogin">
      <mat-icon class="icon"></mat-icon>Register
    </a>

    <a (click)="logout()" *ngIf="isLogin" style="cursor: pointer;">
      <mat-icon class="icon">logout</mat-icon>Logout
    </a>
  </span>

</mat-toolbar>
