<mat-toolbar color="primary">
  Happy Coding
  <span class="links">

    <mat-icon>home</mat-icon>
    <a routerLink="/home">Home</a>

    <mat-icon>games</mat-icon>
    <a routerLink="/list-of-games">Games</a>

    <mat-icon>start</mat-icon>
    <a routerLink="/quick-start">Quick Start</a>

    <mat-icon>person</mat-icon>
    <a routerLink="/user-info">Personal</a>

    <mat-icon></mat-icon>
    <a routerLink="/login">Login</a>

    <mat-icon></mat-icon>
    <a routerLink="/register">Register</a>

    <mat-icon>logout</mat-icon>
    <a routerLinck="/home">Logout</a>
  </span>

</mat-toolbar>
