h1 {
  color: #FFF;
  font-size: x-large;
  margin: 10px;
}

.links {
  right: 10px;
  position: absolute;
}

a {
  margin: 0 10px;
  /* text-align: center; */
  text-decoration: none;
  color: #FFF;
}

.icon {
  margin-right: 5px;
}
