<div id="home_container" class="container">
	<div id="home_output" class="container"></div>
	<div class="wrapper">
		<mat-card class="card">
			<mat-card-content class="content">
				<h1>Learning Computational Thinking</h1>
				<h3>
					基于 Google Blockly 的计算思维训练平台。结合 Google Blockly强大的功能打破编程语言的边界，无需学习编程语言就可进行计算思维的训练，为初入编程大门的人提供一个易于学习的平台。
				</h3>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button color="primary" (click)="onStart()">开始游玩</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>