@import '@angular/material/prebuilt-themes/indigo-pink.css';
#blocklyDiv {
    width: 500px;
    height: 500px;
    left: 0;
    top:10px;
    position: absolute;
    /* bottom: 0;
    position: absolute; */
}
#game_info {
    margin-top: 10%;
}
#action {
    display: flex;
    justify-content: center;
    /* display: table-cell!important;
  text-align: center!important;
  vertical-align: middle!important; */
    
}
button{
    margin: 1%!important;
}
                       
.title {
    font-weight: bold;
    text-align: center;
    color: #484848;
}   
.hint {    
    font-size: 50%;
    color: orangered;
}