@import '@angular/material/prebuilt-themes/indigo-pink.css';
#blocklyDiv {
    width: 400px;
    height: 500px;
    left: 0;
    top:10px;
    position: absolute;
    /* bottom: 0;
    position: absolute; */
}