@import '@angular/material/prebuilt-themes/indigo-pink.css';

#blocklyDiv {
    bottom: 0;
    position: absolute;
    /* position: absolute;  */
    /* float: left; */
    height: 89%;
    width: 40%;
    margin-top: 1%;
    margin-left: 0;
    overflow: scroll;
}


/* #blocklyArea{
    /* float: left;
    height: 89%;
    width: 40%;
    margin-top: 1%;
    overflow: scroll; }*/

#game_info{
    margin:1% 23% 1% 41%;
    width:36%;
    height:40%;
    overflow:scroll;
}
/* #animation{
    margin: 0 23% 0 41%!important;
    width:36%;
    height: 47%;
} */


#action {
    display: flex;
    justify-content: center;
    /* display: table-cell!important;
  text-align: center!important;
  vertical-align: middle!important; */
    
}
button{
    margin: 1%!important;
}
                       
.title {
    font-weight: bold;
    text-align: center;
    color: #484848;
}   
.hint {    
    font-size: 50%;
    color: orangered;
}