<!-- <div id="blocklyArea"> -->
    <div id="blocklyDiv"></div>
<!-- </div> -->

<div id="game_info">
    <p class="title">
        {{game.name}}
    <p>
    <p [innerHTML]="game.description"> </p>
    <p class="hint">
        {{game.hint}}
    </p>
    <div id="action">
        <button mat-raised-button color="primary" (click)="clear()">重置</button>
        <button mat-raised-button color="primary" (click)="save()">保存</button>
        <button mat-raised-button color="primary" (click)="run()">运行</button>
        <button mat-stroked-button (click)="last()" [disabled]="gameId==0? true : false">上一关</button>
        <button mat-stroked-button (click)="next()" [disabled]="gameId==1? true : false">下一关</button>
    </div>
</div>
<app-vedio-room id="vedioroom"></app-vedio-room>

<app-animation id="animation" #animation [gameID]='gameId'></app-animation>